@font-face {
    font-family: pixel;
    src: url(../images/slkscr.ttf);
}

body {
    background-image: url('../images/pixelBG.jpg');
    background-size: cover;
    font-family: pixel;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headText {
    color: #FFF;
    text-align: center;
    font-size: larger;
}

div.game {
    justify-content: space-between;
}

div.game p {
    color: turquoise;
}

div.player, div.com {
    flex-direction: column;
}

#p2counter, #p1counter {
    color: #FFF;
}

.playerSelect > div, .comSelect > div, .playButton {
    margin: 1em;
    padding: 1em;
    flex-direction: column;
    justify-items: flex-end;
    border: 3px solid gainsboro;
    box-shadow: 1px 2px #888888;
    border-radius: 2px;
    background-image: linear-gradient(to bottom right, #7171be, #000074);
    min-width: 100px;
    min-height: 100px;
}

.playerSelect > div p, .comSelect > div p, .playButton {
    color: #FFF;
}

.pChoice, .cChoice {
    transition: all .7s ease;
}

.playerSelect .selected {
    transform: scale(1.1);
    border-color: #eee020;
    box-shadow: 0 0 1rem #ffc800bd;
}

.comSelect .selected {
    transform: scale(1.1);
    border-color: #ee5020;
    box-shadow: 0 0 1rem #c20404bd;
}

.pChoice.played {
    translate: 15vw;
}

.cChoice.played {
    translate: -15vw;
}

@media screen and (max-width: 1000px) {
    .pChoice.played {
        translate: 7vw;
    }
    .cChoice.played {
        translate: -7vw;
    }
}

@media screen and (max-width: 500px) {
    .pChoice.played {
        translate: 3vw;
    }
    .cChoice.played {
        translate: -3vw;
    }
}

.vs {
    align-self: center;
}

.playerSelect, .comSelect {
    flex-direction: column;
}

.playerSelect img {
    transform: scaleX(-1);
}

.play {
    flex-direction: column;
}

.play p {
    text-align: center;
}